/** -----------------------------------
    BASE
    ----------------------------------- */

body {
    font-size: 16px;
    font-family: Helvetica;
}

h1 { font-size: 3.6em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.2em; }


/** -----------------------------------
    UTILS
    ----------------------------------- */

.clearfix {
    overflow: hidden;
}

.pull-left {
    float:left;
}

.t-centered {
    text-align: center;
}

/** -----------------------------------
    SCAFFOLDING
    ----------------------------------- */

.inner {
    width: 960px;
    margin: 20px auto;
}

.container {
    padding: 10px;
    background-color: #c00;
    border-radius: 0 0 4px 4px;
}



/** -----------------------------------
    MAIN
    ----------------------------------- */

.top-panel {
    width: 960px;
    background-color: #c00;
    padding: 40px 10px;
    border-radius: 4px 4px 0 0;
}

.header {
    font-family: 'Damion';
    font-size: 4em;
    color: #fff;
}

.square {
    background-color: #fff;
    /*transition: all 0.1s;*/
}

.square.spacer {
    margin-right: 1px;
    margin-bottom: 1px;
}

.highlight {
    background-color: #444;
}

.menu {
    padding-top: 20px;
    text-align: center;
}

button {
    background-color: #eee;
    border: 1px solid rgba(151,0,0, 1.0);
    border-radius: 4px;
    color: #222;
    padding: 10px;
}

button:hover {
    background-color: #fff;
};